In [91]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel('data_432.xlsx')
df

,id,age,sex,weight,hight,smoke,drinking_freq,month_drinking_freq,drinking_legth,parent_freq,eating_2,stress_level,sleep_length,liver_cond,tolerance,workout_freq
0,1,23.0,1,107.0,192,1,2,4.0,3,1,2,4,7,2,12,2
1,2,22.0,2,49.0,160,1,2,5.0,2,1,1,3,7,2,3,3
2,3,23.0,1,56.0,175,1,2,8.0,3,3,1,3,8,2,8,4
3,4,21.0,2,53.0,170,2,2,4.0,2,4,2,3,8,2,2,4
4,5,53.0,2,57.0,162,2,3,1.0,2,3,4,2,6,2,50,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,428,67.0,2,70.0,164,2,5,1.0,5,4,1,3,8,2,30,1
428,429,55.0,1,65.0,176,1,2,4.0,1,2,4,3,6,2,1,4
429,430,54.0,1,80.0,172,1,2,3.0,2,2,3,3,7,1,100,2
430,431,55.0,2,54.0,158,2,5,0.0,5,4,4,4,6,2,0,1
431,432,56.0,1,88.0,174,1,2,5.0,2,4,4,3,8,1,100,4

In [92]:
# check all the free response questions
# fix the value manually in excel
# Check age range
df[~df['age'].isin(range(1,101))]

,id,age,sex,weight,hight,smoke,drinking_freq,month_drinking_freq,drinking_legth,parent_freq,eating_2,stress_level,sleep_length,liver_cond,tolerance,workout_freq
174,175,NaN,1,72.0,175,2,2,5.0,2,4,4,2,8,2,5,3
198,199,NaN,1,65.0,173,1,3,3.0,1,3,3,3,7,2,30,3
282,283,NaN,1,68.0,163,1,2,10.0,1,5,1,4,7,2,50,3
354,355,NaN,2,62.0,156,2,5,0.0,5,4,3,3,7,2,100,4
382,383,NaN,1,75.0,165,1,1,30.0,1,3,2,3,6,1,50,2

In [93]:
# Check weight range
df[~((df['weight'] > 0) & (df['weight'] < 200))]

,id,age,sex,weight,hight,smoke,drinking_freq,month_drinking_freq,drinking_legth,parent_freq,eating_2,stress_level,sleep_length,liver_cond,tolerance,workout_freq
67,68,19.0,2,NaN,162,2,5,0.0,1,3,1,2,7,2,100,3
411,412,37.0,2,NaN,165,2,5,0.0,5,4,3,2,8,2,4,5

In [94]:
# Check hight range, fix the error manually
df[~((df['hight'] > 0) & (df['hight'] < 220))]

Empty DataFrame
Columns: [id, age, sex, weight, hight, smoke, drinking_freq, month_drinking_freq, drinking_legth, parent_freq, eating_2, stress_level, sleep_length, liver_cond, tolerance, workout_freq]
Index: []

In [95]:
# Check drinking_freq range, fix the error manually
df[~((df['drinking_freq'] > 0) & (df['drinking_freq'] < 31))]

Empty DataFrame
Columns: [id, age, sex, weight, hight, smoke, drinking_freq, month_drinking_freq, drinking_legth, parent_freq, eating_2, stress_level, sleep_length, liver_cond, tolerance, workout_freq]
Index: []

In [96]:
# Check sleep_length range, fix the error manually
df[~((df['sleep_length'] > 0) & (df['sleep_length'] < 15))]

Empty DataFrame
Columns: [id, age, sex, weight, hight, smoke, drinking_freq, month_drinking_freq, drinking_legth, parent_freq, eating_2, stress_level, sleep_length, liver_cond, tolerance, workout_freq]
Index: []

In [97]:
# Check tolerance range, fix the error manually
df[~((df['tolerance'] >= 0) & (df['tolerance'] <= 100))]

Empty DataFrame
Columns: [id, age, sex, weight, hight, smoke, drinking_freq, month_drinking_freq, drinking_legth, parent_freq, eating_2, stress_level, sleep_length, liver_cond, tolerance, workout_freq]
Index: []

In [98]:
# convert multiple choice answers to categorie values
df.loc[df["smoke"] == 2, "smoke"] = 0 
df.loc[df["sex"] == 1, "sex"] = "Male"
df.loc[df["sex"] == 2, "sex"]= "Female"


df.loc[df["drinking_freq"] == 1, "drinking_freq"] = "Daily"
df.loc[df["drinking_freq"] == 2, "drinking_freq"] = "Weekly"
df.loc[df["drinking_freq"] == 3, "drinking_freq"] = "Monthly"
df.loc[df["drinking_freq"] == 4, "drinking_freq"] = "Yearly"
df.loc[df["drinking_freq"] == 5, "drinking_freq"] = "Rarely"

df.loc[df["parent_freq"] == 1, "parent_freq"] = "Very often"
df.loc[df["parent_freq"] == 2, "parent_freq"] = "Often"
df.loc[df["parent_freq"] == 3, "parent_freq"] = "Not often"
df.loc[df["parent_freq"] == 4, "parent_freq"] = "Barely"
df.loc[df["parent_freq"] == 5, "parent_freq"] = "Never"

df.loc[df["eating_2"] == 1, "eating_2"] = "Always"
df.loc[df["eating_2"] == 2, "eating_2"] = "Often"
df.loc[df["eating_2"] == 3, "eating_2"] = "Sometimes"
df.loc[df["eating_2"] == 4, "eating_2"] = "Never"

df.loc[df["stress_level"] == 1, "stress_level"] = "Very stress"
df.loc[df["stress_level"] == 2, "stress_level"] = "Stress"
df.loc[df["stress_level"] == 3, "stress_level"] = "Not too stress"
df.loc[df["stress_level"] == 4, "stress_level"] = "Never stress"

df.loc[df["liver_cond"] == 2, "liver_cond"] = 0 

df.loc[df["workout_freq"] == 1, "workout_freq"] = "Very often"
df.loc[df["workout_freq"] == 2, "workout_freq"] = "Often"
df.loc[df["workout_freq"] == 3, "workout_freq"] = "Not often"
df.loc[df["workout_freq"] == 4, "workout_freq"] = "Barely"
df.loc[df["workout_freq"] == 5, "workout_freq"] = "Never"

In [99]:
df

,id,age,sex,weight,hight,smoke,drinking_freq,month_drinking_freq,drinking_legth,parent_freq,eating_2,stress_level,sleep_length,liver_cond,tolerance,workout_freq
0,1,23.0,Male,107.0,192,1,Weekly,4.0,3,Very often,Often,Never stress,7,0,12,Often
1,2,22.0,Female,49.0,160,1,Weekly,5.0,2,Very often,Always,Not too stress,7,0,3,Not often
2,3,23.0,Male,56.0,175,1,Weekly,8.0,3,Not often,Always,Not too stress,8,0,8,Barely
3,4,21.0,Female,53.0,170,0,Weekly,4.0,2,Barely,Often,Not too stress,8,0,2,Barely
4,5,53.0,Female,57.0,162,0,Monthly,1.0,2,Not often,Never,Stress,6,0,50,Not often
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,428,67.0,Female,70.0,164,0,Rarely,1.0,5,Barely,Always,Not too stress,8,0,30,Very often
428,429,55.0,Male,65.0,176,1,Weekly,4.0,1,Often,Never,Not too stress,6,0,1,Barely
429,430,54.0,Male,80.0,172,1,Weekly,3.0,2,Often,Sometimes,Not too stress,7,1,100,Often
430,431,55.0,Female,54.0,158,0,Rarely,0.0,5,Barely,Never,Never stress,6,0,0,Very often
431,432,56.0,Male,88.0,174,1,Weekly,5.0,2,Barely,Never,Not too stress,8,1,100,Barely